.switch-pokemon {
	position: absolute;
	z-index: 2;
	height: 80vh;
	width: 70vw;
	bottom: 10vh;
	right: 15vw;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.switch-pokemon > div:first-child {
	padding: 5vh 5vw;
	gap: 5vh 0;
	display: flex;
	color: black;
	background: tomato;
	flex-direction: column;
}
.switch-pokemon > div:nth-child(2) {
	width: 100%;
	gap: 2vh 0;
	background: lightgray;
	padding: 5vh 5vw;
	display: flex;
	flex-direction: column;
}
.switch-pokemon .moves {
	background: white;
	color: black;
	border-radius: 50px;
}
.switch-pokemon .moves .move-type {
	height: 3vh;
	width: auto;
}
.switch-pokemon .moves .move-name-box + div {
	align-items: center;
}
.switch-pokemon .moves .move-name-box {
	text-align: left;
}
.switch-pokemon .moves .move-name-box div:nth-child(2) {
	font-weight: normal;
}
.switch-pokemon .moves .move-name-box .move-name {
	font-weight: bolder;
}

.switch-pokemon .moves div:nth-child(2) {
	display: flex;
	gap: 0 10px;
	font-weight: bolder;
	flex-direction: row;
}
